@using AnimalDiseaseQueryWebApp.Models
@model CustomLoginRegisterViewModel
@{
    ViewBag.Title = "D3F Project - Login";
    

}

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#login_menu">Login</a></li>
                    <li><a data-toggle="tab" href="#register_menu">Register</a></li>
                   
                </ul>
                <h5 class="modal-title" id="exampleModalLongTitle">@ViewBag.Title.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="tab-content">
                    <div id="login_menu" class="tab-pane fade in active">
                        <div class="row">
                            <div class="col-md-8">
                                <section id="loginForm">
                                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <h4>Please Insert your Credentials</h4>
                                        <hr />
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.LoginViewModel.Email, new { @class = "col-md-2 control-label" })
                                            <div class="col-md-10">
                                                @*@Html.TextBoxFor(m => m.LoginViewModel.Email, new { @class = "form-control" , @name = "login_email" })*@
                                                @Html.TextBox("login_email")
                                               
                                                @*@Html.ValidationMessageFor(m => m.LoginViewModel.Email, "", new { @class = "text-danger" })*@
                                                @Html.ValidationMessage("login_email")
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.LoginViewModel.Password, new { @class = "col-md-2 control-label" })
                                            <div class="col-md-10">
                                                @*@Html.PasswordFor(m => m.LoginViewModel.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.LoginViewModel.Password, "", new { @class = "text-danger" })*@

                                                @Html.Password("login_password")
                                                @Html.ValidationMessage("login_password", "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <div class="checkbox">
                                                    @*@Html.CheckBoxFor(m => m.LoginViewModel.RememberMe)
        @Html.LabelFor(m => m.LoginViewModel.RememberMe)*@

                                                    @Html.CheckBox("login_rememberMe")
                                                    @Html.LabelFor(m => m.LoginViewModel.RememberMe)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" value="Log In" class="btn btn-info" />
                                            </div>
                                        </div>
                                        <p>

                                        </p>
                                        @* Abilitare questa opzione dopo aver abilitato la conferma dell'account per la funzionalità di reimpostazione della password
                            <p>
                                @Html.ActionLink("Password dimenticata?", "ForgotPassword")
                            </p>*@
                                    }
                                </section>
                            </div>
                            <div class="col-md-4">
                                <section id="socialLoginForm">
                                    @*   @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl }) *@
                                </section>
                            </div>
                        </div>
                    </div>
                    <div id="register_menu" class="tab-pane fade">
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @id ="loginform", @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <h4>Create a new Account.</h4>
                            <hr />
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="form-group">
                                @*@Html.LabelFor(m => m.RegisterViewModel.Email, new { @class = "col-md-2 control-label" })*@
                                
                                <div class="col-md-10">
                                    @*@Html.TextBoxFor(m => m.RegisterViewModel.Email, new { @class = "form-control"})*@
                                   @Html.TextBox("register_email")
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.RegisterViewModel.Password, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @*@Html.PasswordFor(m => m.RegisterViewModel.Password, new { @class = "form-control" })*@
                                    @Html.Password("register_password")
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.RegisterViewModel.ConfirmPassword, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.RegisterViewModel.ConfirmPassword, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" class="btn btn-info" value="Complete Registration" />
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               
            </div>
        </div>
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}