@model List<AnimalDiseaseQueryWebApp.Models.Sign>

<div>
    <h4> Select Signs </h4>
    @{int i = 0; }
    @foreach (AnimalDiseaseQueryWebApp.Models.Sign s in Model)
    {       
        @s.Name
        <input type="radio" name="signs[@i]" value="@s.Id+_P" />@Html.Label("Present")
        <input type="radio" name="signs[@i]" value="@s.Id+_NP" />@Html.Label("Not Present")
        <input type="radio" name="signs[@i]" value="@s.Id+_NO" checked="checked" />@Html.Label("Not Observed")
        <br />
        i++;
    }
</div>
