@model AnimalDiseaseQueryWebApp.Models.DiagnoseViewModel


<script type="text/javascript" src="~/scripts/jquery-3.3.1.js"></script>
<script type="text/javascript">


    $(function () {
        $('#select_diagnose_animal').change(function () {
            var animalId = $(this).val();
            console.log(animalId);
            if (animalId && animalId != '') {

                $.ajax({
                    url: '@Url.Action("RenderSignsPartial", "Diagnose")',
                    contentType: 'application/json; charset=utf-8',
                    type: 'post',
                    data: '{animalID: "' + animalId + '" }',
                    success: (function (result) {
                        $('#div_select_signs').html(result);
                    }),
                    error: (function (xhr, status) {
                        alert(status);
                    })

                })
                    
                    
            }
        });

    });



</script>

<h3>Diagnose An Animal</h3>
<hr />

@using (Html.BeginForm("DiagnoseAnimal", "Diagnose", FormMethod.Post, new { @id = "form_diagnose_animal" }))
{

    <div>

        @if (Model.animals.Count == 0)
        {
            <h4>There are no Animals in the Database</h4>
        }
        else
        {

            <select id="select_diagnose_animal" name="animalID">
                @foreach (AnimalDiseaseQueryWebApp.Models.Animal a in Model.animals)
                {
                    <option value="@a.Id">@a.Name @a.Sex @a.Age</option>
                }
            </select>
        }

    </div>

    <div id="div_select_signs">
        @Html.Partial("_SignsList", new List<AnimalDiseaseQueryWebApp.Models.Sign>())

    </div>

    <div>
        <button type="submit" class="btn btn-info">Diagnose Animal</button>
    </div>

}



