@model AnimalDiseaseQueryWebApp.Models.DiagnoseViewModel

<html>
<body>

    <script>
    $(document).ready(function () {


        $.ajax({
            url: '@Url.Action("GetLoginRegistrationErrors", "Account")',
            contentType: 'application/json; charset=utf-8',
            type: 'post',

            success: (function (result) {

                console.log("checking for login/registration errors");
                console.log(result);
                var error = "";
                var isLogin = true;
                if (result.length > 0) {
                    for (var e in result) {
                        if (e == result.length - 1) {
                            if (result[e] == "Login") { isLogin = true; }
                            else if (result[e] == "Registration") { isLogin = false; }
                        }
                        else {
                            console.log(e);
                            error += result[e] + "<br/>";
                        }

                    }

                    if (isLogin)
                        $("#loginErrorsList").html(error);
                    else
                        $("#registrationErrorsList").html(error);

                    $("#exampleModalLong").modal('show');
                }

            }),
            error: (function (xhr, status) {
                alert(status);
            })

        });

        });


    </script>

    <script type="text/javascript">

        $(document).ready(function () { $('#div_diagnose_loading_signs').hide(); });


    $(function () {
        $('#select_diagnose_animal').change(function () {
            var animalId = $(this).val();
            console.log(animalId);
            $('#div_diagnose_loading_signs').show();
            $('#div_diagnose_loading').hide();
            $('#results').hide();
            $('#div_signs_list').hide();
            $('#button_diagnose').hide();
            $('#div_log_case').hide();


            if (animalId && animalId != '') {

                $.ajax({
                    url: '@Url.Action("RenderSignsPartial", "Diagnose")',
                    contentType: 'application/json; charset=utf-8',
                    type: 'post',
                    data: '{animalID: "' + animalId + '" }',
                    success: (function (result) {
                        $('#div_select_signs').html(result);
                        $('#div_diagnose_loading_signs').hide();
                        $('#div_signs_list').show();
                        $('#button_diagnose').show();


                    }),
                    error: (function (xhr, status) {
                        alert(status);
                    })

                })
            }
        });

    });

    </script>

    <script type="text/javascript">

        String.prototype.replaceAll = function (search, replacement) {
            var target = this;
            return target.split(search).join(replacement);
        };


        $(document).ready(function ()
        {
            $('#div_diagnose_loading').hide();
            $('#results').hide();
            $('#select_signs_title').hide();
            $('#button_diagnose').hide();
            $('#div_log_case').hide();
        });

        function DiagnoseAnimal() {

            //if we call the previous unlogged case
            window.localStorage.removeItem('tempcase');

            $('#results').html("");
            $('#button_diagnose').hide();
            var animalID = $('#select_diagnose_animal').val();
            var s = []
            var signs = $('.signs:checked').each(function () { s.push($(this).val()); });
            $(document).ready(function () { $('#div_diagnose_loading').show(); });
            console.log(s);
                $.ajax({
                    url: '@Url.Action("DiagnoseAnimal", "Diagnose")',
                    contentType: 'application/json; charset=utf-8',
                    type: 'post',
                    //data: '{animalID: "' + animalID +'", signs: "'+ s+'" }',
                    data: JSON.stringify({ "animalID": animalID, "signs": s }),
                    success: (function (data) {
                       // console.log(animalID);
                        //console.log(signs);
                        $(document).ready(function () { $('#div_diagnose_loading').hide(); });

                        $('#results').append('<div> <h2> Results </h2> </div>');
                        $('#results').append('<br />');

                        var results = document.getElementById("results");

                        var rank = 0;
                        for (var d in data)
                        {

                            //$('#results').append('<div class="row"> <div class="col-lg-5 col-md-5 col-sm-5"> ' + d + ' </div>' + '<div class="col-lg-4 col-md-4 col-sm-4">' + data[d] + ' </div>' + '</div>');


                            var row = document.createElement("div");
                            var diseaseColumn = document.createElement("div");
                            var valueColumn = document.createElement("div");
                            var radioLabel = document.createElement("label");

                            var radio = document.createElement("input");
                            radio.setAttribute("type", "radio");
                            radio.setAttribute("id", "radio_disease_chosen_by_user");
                            radio.setAttribute("name", "diseasechosenbyuser");
                            radio.setAttribute("value",rank+'_'+d+'_'+data[d]);
                            radio.setAttribute("style", "padding:15px;");

                            if (rank == 0)
                                radio.setAttribute("checked", "");

                            row.setAttribute("class", "row");
                            diseaseColumn.setAttribute("class", "col-lg-5 col-md-5 col-sm-5");
                            valueColumn.setAttribute("class", "col-lg-5 col-md-5 col-sm-5");


                            radioLabel.append(d+' ');
                            valueColumn.append(data[d]);

                            results.appendChild(row);
                            row.appendChild(diseaseColumn);
                            diseaseColumn.appendChild(radioLabel);
                            radioLabel.appendChild(radio);
                            row.appendChild(valueColumn);



                            rank++; // increase the rank counter

                        }

                        $('#results').show();

                        $('#div_log_case').show();


                        //save the case in localstorage in case the user wants to save
                        const tempcase = {
                            animalID: animalID,
                            signs:s,
                            results: data,
                    };

                        window.localStorage.setItem('tempcase', JSON.stringify(tempcase));



                    }),
                    error: (function (xhr, status) {
                        alert(status);
                    })
                })
        };


    </script>

    <script type="text/javascript" src="~/Scripts/customselect.js"></script>

    <div class="jumbotron">

        <h1>Diagnose An Animal</h1>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
            Login/Register
        </button>

       

    </div>
    <hr />
    <div class="page_content">

        @Html.Partial("~/Views/Account/Login.cshtml", new AnimalDiseaseQueryWebApp.Models.CustomLoginRegisterViewModel { })
        <div>

            @if (Model.animals.Count == 0)
            {
                <h4>There are no Animals in the Database</h4>
            }
            else
            {
                <h3>Select An Animal To Diagnose</h3>

                <br />

                <select id="select_diagnose_animal" name="animalID">
                    <option value="-1"> PLEASE SELECT AN ANIMAL</option>
                    @foreach (AnimalDiseaseQueryWebApp.Models.Animal a in Model.animals)
                    {
                        <option value="@a.Id">@a.Name @a.Age @a.Sex</option>
                    }
                </select>
            }

        </div>

        <hr />

        <div id="div_select_signs">

            <div id="div_diagnose_loading_signs" class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>

            @Html.Partial("_SignsList", new List<AnimalDiseaseQueryWebApp.Models.Sign>())

        </div>

        <div>

            <br />
            <button class="btn btn-info" id="button_diagnose" type="submit" onclick="DiagnoseAnimal()">Diagnose Animal</button>

            <div id="div_diagnose_loading" class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>

        </div>

        <div id="results" class="container">

        </div>

        @Html.Partial("_LogCase")


    </div>

    <div>
        <div style="text-align:center">
            <h3 style="color:black">Links</h3>
            <div class="web_app_links">
                <input class="btn btn-info" type="button" value="About Us" onclick="location.href='@Url.Action("AboutUs", "Landing")'" />
                <input class="btn btn-info" type="button" value="Diagnoser" onclick="location.href='@Url.Action("Index", "Diagnose")'" />
                <input class="btn btn-info" type="button" value="Visualiser" onclick="location.href='http://datavisualiser.d3f.world'" />
            </div>
        </div>
    </div>

</body>
</html>
