@model AnimalDiseaseQueryWebApp.Models.DiagnoseViewModel

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<style>

    #results {
        font-size: 15px;
    }
    body, html {
        margin: 0;
        padding: 0;
        font-size: 15px;
    }

</style>



<html>

<body>


    <script type="text/javascript">

        $(document).ready(function () { $('#div_diagnose_loading_signs').hide(); });


    $(function () {
        $('#select_diagnose_animal').change(function () {
            var animalId = $(this).val();
            console.log(animalId);
            $('#div_diagnose_loading_signs').show();

            if (animalId && animalId != '') {

                $.ajax({
                    url: '@Url.Action("RenderSignsPartial", "Diagnose")',
                    contentType: 'application/json; charset=utf-8',
                    type: 'post',
                    data: '{animalID: "' + animalId + '" }',
                    success: (function (result) {
                        $('#div_select_signs').html(result);
                        $('#div_diagnose_loading_signs').hide();

                    }),
                    error: (function (xhr, status) {
                        alert(status);
                    })

                })


            }
        });

    });



    </script >

    <script type="text/javascript">

        String.prototype.replaceAll = function (search, replacement) {
            var target = this;
            return target.split(search).join(replacement);
        };


        $(document).ready(function () { $('#div_diagnose_loading').hide(); });
        
        function DiagnoseAnimal() {
            var animalID = $('#select_diagnose_animal').val();
            var s = []
            var signs = $('.signs:checked').each(function () { s.push($(this).val()); });
            $(document).ready(function () { $('#div_diagnose_loading').show(); });
            console.log(s);
                $.ajax({
                    url: '@Url.Action("DiagnoseAnimal", "Diagnose")',
                    contentType: 'application/json; charset=utf-8',
                    type: 'post',
                    //data: '{animalID: "' + animalID +'", signs: "'+ s+'" }',
                    data: JSON.stringify({ "animalID": animalID, "signs": s }),
                    success: (function (data) {
                        console.log(animalID);
                        //console.log(signs);
                        $(document).ready(function () { $('#div_diagnose_loading').hide(); });
                        console.log();
                        var strResult = JSON.stringify(data).toString();
                        var result = strResult.replaceAll("{", "");
                        result = result.replaceAll("}", "%<br/>");
                        result = result.replaceAll("[", "");
                        result = result.replaceAll("]", "");
                        result = result.replaceAll('"Key"', "");
                        result = result.replaceAll('"Value"', "");
                        result = result.replaceAll(":", "");
                        result = result.replaceAll('"', "");
                        result = result.replaceAll(",", " ");
                        console.log(result);
                        $('#results').append(result);
                           
                                                                    
                    }),
                    error: (function (xhr, status) {
                        alert(status);
                    })

                })         
    };

    </script>
    <h3>Diagnose An Animal</h3>
    <hr />

  

        <div>

            @if (Model.animals.Count == 0)
            {
                <h4>There are no Animals in the Database</h4>
            }
            else
            {

                <select id="select_diagnose_animal" name="animalID">
                    <option value="-1"> PLEASE SELECT AN ANIMAL</option>
                    @foreach (AnimalDiseaseQueryWebApp.Models.Animal a in Model.animals)
                    {
                        <option value="@a.Id">@a.Name @a.Sex @a.Age</option>
                    }
                </select>
            }

        </div>

        <div id="div_select_signs">

            <div id="div_diagnose_loading_signs" class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>

            @Html.Partial("_SignsList", new List<AnimalDiseaseQueryWebApp.Models.Sign>())

        </div>

        <div>
            <div id="div_diagnose_loading" class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <button type="submit" class="btn btn-info" onclick="DiagnoseAnimal()">Diagnose Animal</button>
        </div>

    <div id="results">

        </div>

</body>
</html>
