@model AnimalDiseaseQueryWebApp.Models.EditDBViewModel

<div class="row">

    @if (Model.animals.Count == 0 || Model.diseases.Count == 0 || Model.signs.Count == 0)
    {
        <h4>There is not enough data in the database to add likelihoods </h4>

    }
    else
    {
        using (Html.BeginForm("InsertNewLikelihood", "EditDB", FormMethod.Post, new { @id = "form_add_likelihood" }))
        {
            <div class="col-md-2">
                ID
            </div>

            <div class="col-md-2">
                <select name="AnimalId">
                    @foreach (AnimalDiseaseQueryWebApp.Models.Animal a in Model.animals)
                    {
                        <option value="@a.Id">@a.Name @a.Sex @a.Age</option>
                    }
                </select>
            </div>

            <div class="col-md-2">
                <select name="SignId">
                    @foreach (AnimalDiseaseQueryWebApp.Models.Sign s in Model.signs)
                    {
                        <option value="@s.Id"> @s.Name </option>
                    }
                </select>

            </div>

            <div class="col-md-2">
                <select name="DiseaseId">
                    @foreach (AnimalDiseaseQueryWebApp.Models.Disease d in Model.diseases)
                    {
                        <option value="@d.Id"> @d.Name </option>
                    }
                </select>

            </div>



            <div class="col-md-2">
                <input type="number" name="Value" value="0.01" min="0" max="1" step="0.01" />
            </div>

            <div class="col-md-2">
                <button type="submit" class="btn btn-info">Add Likelihood </button>
            </div>
            }

        }


    </div>